<%- include("partials/header"); -%>
<div class="menu-container">
  <h1 class="maicourse">BEVERAGES</h1><i class=' inline-block icon fas fa-utensils' style='font-size:36px'></i>
</div>
<div class="row dessert-col row-cols-1 row-cols-md-3">

  <div class="col mb-4">
    <div class="card">
      <img src="https://previews.123rf.com/images/kesu87/kesu871407/kesu87140700054/29612990-fresh-juice-mix-fruit-healthy-drinks-on-wooden-table.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="height:100px;">
        <h5 class="card-title">Fresh Juices</h5>
        <p class="card-text">Rs.200/-</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.dairyfoods.com/ext/resources/DF/2020/March/ing/dfx0320-IngTech-img3.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="height:100px;">
        <h5 class="card-title">Coffee</h5>
        <p class="card-text">RS.210</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="https://www.fona.com/wp-content/uploads/2019/12/beverages-with-straws-1200x800.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="height:100px;">
        <h5 class="card-title">Mocktails</h5>
        <p class="card-text">Rs.200</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.dairyfoods.com/ext/resources/DF/2018/January/Ingredients/dfx0118-IngTech-img1.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="height:100px;">
        <h5 class="card-title">Milk Shakes</h5>
        <p class="card-text">Rs.199</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="https://d1hccs7ziy197f.cloudfront.net/rockpooldininggroup/wp-content/uploads/2019/07/02142223/Sake-The-Rocks_mocktails.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="height:100px;">
        <h5 class="card-title">Cocktails</h5>
        <p class="card-text">Rs.129</p>
      </div>
    </div>
  </div>



</div>
<%- include("partials/footer"); -%>
