<%- include("partials/header"); -%>
<div class="menu-container">
  <h1>DESSERTS</h1><i class=' inline-block icon fas fa-utensils' style='font-size:36px'></i>
</div>
<div class="row dessert-col row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card" >
      <img src="https://img.taste.com.au/xUZLtC_t/w1200-h630-cfill/taste/2016/11/top-50-desserts-117787-1.jpeg" class="card-img-top" alt="...">
      <div class="card-body"style="height:100px;">
        <h5 class="card-title">Chocolate Parfait</h5>
        <p class="card-text">RS.199</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://img.taste.com.au/mKYgDLyc/w643-h428-cfill-q90/taste/2016/11/snickers-rolls-26145-1.jpeg" class="card-img-top" alt="...">
      <div class="card-body"style="height:100px;">
        <h5 class="card-title">Snickers Rolls</h5>
        <p class="card-text">Rs.249</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://img.taste.com.au/P9B2DKVv/w643-h428-cfill-q90/taste/2016/11/apple-and-blueberry-tarts-17864-1.jpeg" class="card-img-top" alt="...">
      <div class="card-body"style="height:100px;">
        <h5 class="card-title">Apple Tarts</h5>
        <p class="card-text">Rs.259</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.kelliesbelly.com/wp-content/uploads/2013/01/Desserts.jpg" class="card-img-top" alt="...">
      <div class="card-body"style="height:100px;">
        <h5 class="card-title">Pudding</h5>
        <p class="card-text">Rs.229</p>
      </div>
    </div>
  </div>




  <div class="col mb-4">
    <div class="card">
      <img src="https://www.imperialsugar.com/sites/default/files/styles/recipe_image_node_full/public/recipe/black-forest-trifle-imperial.jpg?itok=yfTHuyRd" class="card-img-top" alt="...">
      <div class="card-body"style="height:100px;">
        <h5 class="card-title">Black Forest Trifles</h5>
        <p class="card-text">Rs.355</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://img.taste.com.au/L9_DRtJO/w316-h210-cfill-q80/taste/2016/11/napoleon-10469-1.jpeg" class="card-img-top" alt="...">
      <div class="card-body"style="height:100px;">
        <h5 class="card-title">Waffles</h5>
        <p class="card-text">Rs.329</p>
      </div>
    </div>
  </div>





</div>
  <%- include("partials/footer"); -%>
